@font-face {
    font-family: 'Josefin Sans';
    src: url(https://fonts.gstatic.com/s/josefinsans/v17/Qw3aZQNVED7rKGKxtqIqX5EUDXx4.woff2) format('woff2');
}

header {
    color: #9933ff;
    background-color: #ccffff;
    font-family: 'Josefin Sans';
    text-align: center;
    padding-top: 2ex;
    padding-bottom: 1ex;
}

footer {
    display: inline-block;
    font-family: 'Figtree';
}

#page {
    /**/
    display: block;
    margin-top: 2ex;
    margin-left: 2ex;
    margin-right: 2ex;
}

#page-side-bar {
    font-family: 'Figtree';
}

#content {
    display: flex;
    /* background-color: #ffccff; */
}






/* .office-name {
    background-color: #ccffff;
} */


.no-marker{
    list-style: none;
}